{% extends 'forum/index.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/forum/home.css') }}">
{% endblock %}

{% block body %}

<h2 class="page-header">{{ subcategory.getName }}</h2>

<table class="table table-bordered">
    <tbody>

        {% for topic in topics %}
            <tr>
                <td class="col-xs-1 col-md-1"><div class="forum-symbol"><span class="glyphicon glyphicon-tower"></span></div></td>
                <td>
                    <div class="subcategory">
                        <table>
                            <tr><td><a href="/forum/topics/topic/view/{{ topic.getId }}"><strong>{{ topic.getTitle }}</strong></a></td></tr>
                            <tr><td><i>Created by {{ topic.getAuthorName }}</i></td></tr>
                        </table>
                    </div>
                </td>     
                <td class="col-xs-2 col-md-2">
                    <table>
                        <tr><td>{{ topic.getRepliesNumber }} raspunsuri</strong></td></tr>
                    </table>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
