{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{ asset('assets/css/default.css') }}">
{% endblock %}

{% block body %}
<section class="hero is-info is-medium is-bold">

    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="site-title">Welcome to</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
        </div>
    </div>

</section>

<section class="section">
    <div class="container">
        <div class="columns">

            <div class="column is-10">
                <div class="columns">
                    <div class="column is-9 is-centered">
                        <div class="header-content">
                            <div class="has-text-centered">
                                <h1 class="title">
                                    Blog Template Place Holder. Loop Here
                                </h1>
                            </div>
                        </div>

                        <div class="subheader-content has-text-centered">
                            <p>posted in <a>Web Design</a> on <a>January 1, 2020</a> by <a>Author</a></p>
                            <hr/>
                        </div>

                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia euismod urna, in gravida leo efficitur a. Sed tempus augue risus, eget faucibus urna hendrerit a. Donec pulvinar maximus dui ut porttitor. Nullam tristique tortor et ipsum tristique, ac lacinia diam faucibus. Nunc cursus massa eget consectetur laoreet. Sed porttitor metus a velit pellentesque fringilla. Maecenas urna velit, euismod non risus id, efficitur sodales ante. Vestibulum eu condimentum dui. Sed vitae eros dolor. Curabitur ornare tortor eu ligula pellentesque egestas. Nam posuere sapien ac ligula commodo, at aliquet magna tincidunt. Vestibulum dapibus tortor dui, ac tristique velit dignissim vitae. Maecenas blandit urna vel lectus suscipit faucibus.</p>
                            <div class="has-text-centered">
                                <p><a class="button" href="post.html">Continue Reading</a></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="column">
                <div class="column">
                    <h1 class="title">Pagini Personale Statice</h1>
                </div>
                <hr>
                {% for route in routes %}
                <div class="columns">
                    <div class="media">
                        <div class="media-left">
                            <p class="image is-32x32">
                                <img src="{{ route.image }}">
                            </p>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <a href="{{route.path}}">{{ route.name }}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>


        <footer class="footer">
            <section class="section has-background-white">
                <div class="container">
                    <div class="columns is-multiline">
                        <div class="column is-4">
                            <article>
                                <figure class="media-left">
                                    <span class="icon">
                                      <i class="has-text-warning fas fa-columns fa-lg"></i>
                                    </span>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <h1 class="title is-size-4"><a href="https://symfony.com/doc/current/index.html">Symfony documentation</a></h1>
                                        <p class="is-size-5 subtitle">
                                            <strong>Setup</strong> - Creating Pages - Doctrine - Routing - Controller - Templating
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="column is-4">
                            <article>
                                <figure class="media-left">
                                    <span class="icon has-text-info">
                                      <i class="fab fa-lg fa-wpforms"></i>
                                    </span>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <h1 class="title is-size-4"><a href="https://symfony.com/doc/current/forms.html">Symfony Forms</a></h1>
                                        <p class="is-size-5 subtitle">
                                            Forms: Screencast Do you prefer video tutorials? Check out the <strong>Symfony Forms</strong>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="column is-4">
                            <article>
                                <figure class="media-left">
                                    <span class="icon has-text-danger">
                                      <i class="fas fa-lg fa-cubes"></i>
                                    </span>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <h1 class="title is-size-4"><a href="https://symfony.com/what-is-symfony">Symfony Framework</a></h1>
                                        <p class="is-size-5 subtitle">
                                            Symfony is a set of PHP <strong>Components</strong>, a Web Application framework, a Philosophy, and a Community — all working together in harmony
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="column is-4">
                            <article>
                                <figure class="media-left">
                                    <span class="icon has-text-grey">
                                      <i class="fas fa-lg fa-cogs"></i>
                                    </span>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <h1 class="title is-size-4"><a href="https://symfony.com/download">Download</a></h1>
                                        <p class="is-size-5 subtitle">
                                            <strong>Download</strong> the Symfony framework and Symfony components using ...
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="column is-4">
                            <article>
                                <figure class="media-left">
                                    <span class="icon has-text-primary">
                                      <i class="fas fa-lg fa-warehouse"></i>
                                    </span>
                                </figure>
                                <div class="media-content">
                                    <h1 class="title is-size-4"><a href="https://symfony.com/legacy">Symfony1 Legacy</a></h1>
                                    <p class="is-size-5 subtitle">
                                        symfony 1.x <strong>legacy website</strong>.
                                    </p>
                                </div>
                            </article>
                        </div>
                        <div class="column is-4">
                            <article>
                                <figure class="media-left">
                                    <span class="icon has-text-danger">
                                      <i class="fas fa-lg fa-cube"></i>
                                    </span>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <h1 class="title is-size-4"><a href="https://twig.symfony.com/">Twig</a></h1>
                                        <p class="is-size-5 subtitle">
                                            Twig for <strong>Template Designers</strong> - Documentation
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            <hr>
            <div class="columns is-mobile is-centered">
                <p class="subtitle">
                    Read the documentation to learn
                    <a href="https://symfony.com/doc/{{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION')[:3] }}/page_creation.html">
                        How to create your first page in <strong>Symfony</strong>
                    </a>
                </p>
            </div>
        </section>
        </footer>
    </div>

{% endblock %}

{% block javascripts %}{% endblock %}